extends ./application

block head
  link(rel="stylesheet" href="./records.css")
block nav
  li
    a(href="/") 测试
  li.active
    a(href="/records") 结果

block content
  form#controls.form-horizontal
    .form-group
      label.col-lg-2.control-label 操作系统
      .col-lg-10
        select#systemType.form-control
          each val in systems
            if val == system
              option(value="#{val}" selected="selected")= val
            else
              option(value="#{val}")= val
    .form-group
      label.col-lg-2.control-label 点的个数
      .col-lg-10
        each val in dotSizes 
          label.radio-inline
            if val == dotSize
              input(type="radio" name="dotSize" value="#{val}" checked="checked")
            else
              input(type="radio" name="dotSize" value="#{val}")
            | #{val} 
    .form-group
      label.col-lg-2.control-label 动画方法
      .col-lg-10
        each method in aniMethods
          label.checkbox-inline
            input(type="checkbox" name="aniMethod" value="#{method}" checked="checked")
            | #{method}
    .col-lg-offset-2
      .form-group
        button#submit.btn.btn-success(type="submit") 查询 
  #record-chart
  #record-table
    h1 FPS 记录
    table.table.table-hover.center
  button#clearup.btn.btn-danger 清空记录

block scripts
  script(src="./js/highcharts.js")
  script(src="/js/lodash.js")
  script(src="./js/records.js")
